<p-table
  #dt
  [value]="countries"
  [columns]="cols"
  responsiveLayout="scroll"
  [rows]="10"
  [globalFilterFields]="['name', 'description', 'status']"
  [paginator]="true"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [showCurrentPageReport]="true"
  exportFilename="countries"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [(selection)]="selectedCountries"
  selectionMode="multiple"
  [rowHover]="true"
  dataKey="id">
  <ng-template pTemplate="caption">
    <div
      class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
      <h5 class="m-0">Manage Countries</h5>
      <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                class="w-full sm:w-auto" />
            </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="id">
        ID <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="description">
        Description <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th pSortableColumn="status">
        Status <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-country>
    <tr>
      <td>
        <p-tableCheckbox [value]="country"></p-tableCheckbox>
      </td>
      <td>
        <span class="p-column-title">Code</span>
        {{ country.id }}
      </td>
      <td>
        <span class="p-column-title">Name</span>
        {{ country.name }}
      </td>
      <td>
        <span class="p-column-title">Description</span>
        {{ country.description }}
      </td>
      <td style="width: 14%; min-width: 10rem">
        <span class="p-column-title">Status</span>
        <span
          [class]="'product-badge status-' + getColor(country.status)"
        >{{ getLabel(country.status) }}</span
        >
      </td>
      <td>
        <div class="flex">
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editCountry(country)"></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteCountry(country)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
