<div class="card mb-3">
  <div>
    <h2>License</h2>
    <p>
      PolyLab is under the <span class="font-semibold"
        >GNU Affero General Public License (AGPL) v3.0</span
      >.
    </p>
    <p>
      The AGPL v3.0 license encourages openness by requiring that any
      modifications, enhancements, or derivative works based on PolyLab's source
      code must be made available to the community under the same license terms.
      <br>
      This ensures that the project remains accessible to a wide range of
      contributors and fosters collaboration among developers, researchers, and
      users.
    </p>
    <p>The license is defined as:</p>
    <jx-license-text></jx-license-text>
  </div>
</div>
