<p-table
  #dt
  [value]="items"
  [columns]="cols"
  responsiveLayout="scroll"
  [rows]="10"
  [globalFilterFields]="['name', 'description']"
  [paginator]="true"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [showCurrentPageReport]="true"
  exportFilename="genders"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [(selection)]="selectedItems"
  selectionMode="multiple"
  [rowHover]="true"
  dataKey="id">
  <ng-template pTemplate="caption">
    <div
      class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
      <h5 class="m-0">Manage Genders</h5>
      <span class="block mt-2 md:mt-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Search..."
          class="w-full sm:w-auto" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="description">
        Description <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-gender>
    <tr>
      <td>
        <p-tableCheckbox [value]="gender"></p-tableCheckbox>
      </td>
      <td>
        <span class="p-column-title">Code</span>
        {{ gender.genderId }}
      </td>
      <td>
        <span class="p-column-title">Description</span>
        {{ gender.description }}
      </td>
      <td>
        <div class="flex">
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editItemAction.emit(gender)"></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteItemAction.emit(gender)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td class="text-center" [attr.colspan]="100">
        <div>
          <p-message severity="warn" text="No gender data available"></p-message>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
