<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-2xl">
    <span class="text-900">One Product, </span>
    <span class="text-blue-600">Many Solutions</span>
  </div>
  <div class="text-700 text-sm mb-6">PolyLab can adapt and scale to meet the unique needs of diverse laboratories, making it a comprehensive solution for various scientific disciplines..</div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-desktop text-4xl text-blue-500"></i>
                </span>
      <div class="text-900 mb-3 font-medium">Built for Developers</div>
      <span class="text-700 text-sm line-height-3">We provide an extensive set of APIs and integration options..</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-lock text-4xl text-blue-500"></i>
                </span>
      <div class="text-900 mb-3 font-medium">Encrypted</div>
      <span class="text-700 text-sm line-height-3">PolyLab ensures the protection of sensitive information with end-to-end encryption.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-check-circle text-4xl text-blue-500"></i>
                </span>
      <div class="text-900 mb-3 font-medium">Intuitive</div>
      <span class="text-700 text-sm line-height-3">PolyLab prioritizes user-friendliness, offering an intuitive and easy-to-use interface..</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-globe text-4xl text-blue-500"></i>
                </span>
      <div class="text-900 mb-3 font-medium">Fast Support</div>
      <span class="text-700 text-sm line-height-3">The dedicated support team ensures prompt resolution of queries and issues, offering expert guidance and technical assistance when needed..</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-github text-4xl text-blue-500"></i>
                </span>
      <div class="text-900 mb-3 font-medium">Open Source</div>
      <span class="text-700 text-sm line-height-3">We allow developers and users to contribute, modify, and enhance the system. </span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-shield text-4xl text-blue-500"></i>
                </span>
      <div class="text-900 mb-3 font-medium">Secure</div>
      <span class="text-700 text-sm line-height-3">The system undergoes rigorous security testing, adhering to industry best practices and standards..</span>
    </div>
  </div>
</div>
