<div class="layout-wrapper" [ngClass]="containerClass">
  <mds-header />
  <div class="layout-sidebar">
    <jx-drawer/>
  </div>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet />
    </div>
    <mds-footer
      imageLocation="assets/layout/images/{{
        layoutService.configurationState.colorScheme === 'light'
          ? 'logo-dark'
          : 'logo-white'
      }}.svg" />
  </div>
  <mds-configuration-drawer />
  <div class="layout-mask"></div>
</div>
