<p-dialog [(visible)]="countryDialog" (keyup.enter)="saveOrEditCountry()" [formGroup]="countryForm" [style]="{ width: '450px' }" header="Manage Countries" [contentStyle]="{ overflow: 'visible' }" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Description</label>
      <input autofocus type="text" pInputText id="name" formControlName="description" [ngClass]="{ 'ng-invalid ng-dirty': submitted && countryForm.controls['description'].invalid }" />
      <small class="p-error" *ngIf="countryForm.controls['description'].hasError('required') && countryForm.controls['description'].touched">Description is required.</small>
      <small class="p-error" *ngIf="countryForm.controls['description'].hasError('minlength') && countryForm.controls['description'].touched">Minimum length is 4 characters.</small>
      <small class="p-error" *ngIf="countryForm.controls['description'].hasError('maxlength') && countryForm.controls['description'].touched">Maximum length is 50 characters.</small>
    </div>
    <div class="field">
      <label for="status">Status</label>
      <p-dropdown id="status" formControlName="status" [options]="statuses" placeholder="Select">
        <ng-template pTemplate="selectedItem">
      <span [class]="'product-badge status-' + labelService.getColor(countryForm.controls['status'].value)">
        {{ labelService.getTag(countryForm.controls['status'].value) }}
      </span>
        </ng-template>
        <ng-template let-option pTemplate="item">
          <span [class]="'product-badge status-' + option.value">{{ option.label }}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-success"
            [disabled]="countryForm.invalid || countryForm.pristine" (click)="saveOrEditCountry()">
    </button>
  </ng-template>
</p-dialog>
