<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="New"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"></button>
            <button
              pButton
              pRipple
              label="Delete"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteSelectedCountries()"
              [disabled]="
                !selectedCountries || !selectedCountries.length
              "></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload
            mode="basic"
            accept="image/*"
            [maxFileSize]="1000000"
            label="Import"
            chooseLabel="Import"
            class="mr-2 inline-block"></p-fileUpload>
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]="countries"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['name','description','status']"
        [paginator]="true"
        [rowsPerPageOptions]="rowsPerPageOptions"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedCountries"
        selectionMode="multiple"
        [rowHover]="true" dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Countries</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">
              ID <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Description <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-country>
          <tr>
            <td>
              <p-tableCheckbox [value]="country"></p-tableCheckbox>
            </td>
            <td>
              <span class="p-column-title">Code</span>
              {{ country.id }}
            </td>
            <td>
              <span class="p-column-title">Name</span>
              {{ country.name }}
            </td>
            <!--            TODO : Show country flag -->
            <!--            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>-->
            <!--              <img [src]="'assets/demo/images/country/' + country.image" [alt]="country.name" width="100" class="shadow-4" />-->
            <!--            </td>-->
            <td>
              <span class="p-column-title">Description</span>
              {{ country.description }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Status</span>
              <span
                [class]="
                  'product-badge status-' + getLabelColor(country.status)
                "
                >{{ getLabelName(country.status) }}</span
              >
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editCountry(country)"></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteCountry(country)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!--TODO : Details Dialog -->
    <p-dialog
      [(visible)]="countryDialog"
      [style]="{ width: '450px' }"
      header="Country Details"
      [contentStyle]="{'overflow':'visible'}"
      [modal]="true"
      class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Name</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="country.name"
            required
            autofocus
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !country.name }" />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !country.name"
            >Name is required.</small
          >
        </div>
        <div class="field">
          <label for="description">Description</label>
          <textarea
            id="description"
            pInputTextarea
            [(ngModel)]="country.description"
            required
            rows="3"
            cols="20"></textarea>
        </div>
        <!--        TODO : Add Status DropDown-->
        <div class="field">
          <label>Status</label>
          <p-dropdown [(ngModel)]="country.status" inputId="status" optionValue="label" [options]="statuses" placeholder="Select">
            <ng-template pTemplate="selectedItem">
              <span *ngIf="country && country.status" [class]="'product-badge status-' + getLabelColor(country.status)">{{getLabelName(country.status)}}</span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
            </ng-template>
          </p-dropdown>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveProduct()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteCountryDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="country"
          >Are you sure you want to delete <b>{{ country.name }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteCountryDialog = false"></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <!--        TODO: Delete Selected Dialog -->
    <p-dialog
      [(visible)]="deleteCountriesDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete all the selected countries?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteCountriesDialog = false"></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
