<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <mds-action-toolbar [deleteDisabled]="true"
      (newAction)="openNewProfessionDialog()"
      />
      <jx-profession-table #professionTable
        (editItemAction)="openEditProfessionDialog($event)"
        (deleteItemAction)="openDeleteProfessionDialog($event)"
      />
      <jx-profession-dialog #professionDialog [profession]="profession"/>
      <mds-delete-single
        [itemName]="profession.description || 'this profession'"
        (confirmDeleteAction)="confirmDelete();"
        #deleteProfessionDialog />
    </div>
  </div>
</div>
